@charset "utf-8";

*,
html,
body {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    image-rendering: -webkit-optimize-contrast;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: #021036;
}

body,
button {
    font-family: "League Spartan", sans-serif;
    color: #fff;
}

button {
    display: block;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding-left: 2em;
    position: relative;
    padding-right: 2em;
    z-index: 2;
}

p {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 2em;
}

h1 {
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: 0.5em;
    line-height: 1.2em;
    padding-left: 0.2em;
}

h4 {
    opacity: 0.4;
    font-weight: 700;
    letter-spacing: 0.5em;
    font-size: 1.3em;
    line-height: 1.3em;
    padding-left: 0.2em;
}

h6 {
    font-size: 0.9em;
    font-weight: 500;
    letter-spacing: 0.4em;
    line-height: 0.9em;
    padding-left: 0.5em;
}

a {
    text-decoration: none;
    color: #fff;
}

/* nav */
nav {
    margin-left: 2.3em;
    margin-top: 2em;
    position: fixed;
    z-index: 9999;
}

.nvct-container {
    opacity: 0;
    margin-left: 1.2em;
    transition: all ease 0.3s;
}

.nvct-active {
    opacity: 1;
}

.nvct-text {
    margin-top: 1em;
}

.nvct-text:hover {
    margin-top: 1em;
    background-color: #30c2ff;
    background-image: linear-gradient(45deg, #30fffd, #30c2ff);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

/* hamburger */
.toggle {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.toggle span {
    position: absolute;
    width: 40px;
    height: 0.2em;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
}

.toggle span:nth-child(2) {
    transform: translateY(-15px);
    width: 25px;
    left: 15px;
}

.toggle span:nth-child(3) {
    transform: translateY(15px);
    width: 15px;
    left: 15px;
}

.toggle.active span:nth-child(1) {
    transform: translateX(60px);
}

.toggle.active span:nth-child(2) {
    width: 40px;
    transform: translateX(0) rotate(45deg);
    transition-delay: 0.1s;
}

.toggle.active span:nth-child(3) {
    width: 40px;
    transform: translateX(0) rotate(-45deg);
    transition-delay: 0.1s;
}

/* progress-bar */

.progress-wrap {
    position: relative;
    text-align: center;
    top: -2em;
}
.prgs-start {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.prgs-start .prgs-inner {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.prgs-start .prgs-outer {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}

.prgs-area-wrap {
    position: relative;
}
.prgs-end {
    height: 12em;
}
.prgs-bar-bg {
    width: 0.2em;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -2.5em;
}
.prgs-bar {
    position: absolute;
    left: 0;
    height: 100%;
    right: 0;
    margin: 0 auto;
    top: -2.5em;
}

.prgs-gutter {
    width: 0.2em;
    height: 100%;
    background: rgb(48, 255, 253);
    background: linear-gradient(-75deg, rgba(48, 255, 253, 1) 0%, rgba(48, 194, 255, 1) 100%);
    overflow: hidden;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.prgs-arrow {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 2em;
    border-radius: 50%;
    border: 2px solid transparent;
}

/* header */

header {
    position: absolute;
    z-index: 99;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    left: 0;
    right: 0;
}

#tim-logo {
    max-width: 6em;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: 1.4em;
}

.header-contact {
    margin-right: 3em;
    margin-top: 3.7em;
}

.header-contact a:hover {
    margin-top: 1em;
    background-color: #30c2ff;
    background-image: linear-gradient(45deg, #30fffd, #30c2ff);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.random-word {
    display: inline-block;
    text-transform: uppercase;
    width: auto;
    background-color: #30c2ff;
    background-image: linear-gradient(45deg, #30fffd, #30c2ff);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    transition: all 2s;
    animation: slidedown ease-out 3.5s infinite;
    -webkit-animation: slidedown ease-out 3.5s infinite;
    -moz-animation: slidedown ease-out 3.5s infinite;
}

@keyframes slidedown {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
    }

    10% {
        transform: translateY(-0.8em);
    }

    20% {
        opacity: 0;
    }

    50% {
        transform: translateY(0);
        opacity: 100;
    }

    80% {
        opacity: 25;
    }

    100% {
        opacity: 0;
    }
}

/* main-achieve */
#main-achieve {
    background-image: url("../img/newhorizon_swissalps.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 8em;
}

.maev-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 40em;
    align-items: center;
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
}

.maev-text-change {
    margin-top: 0.8em;
}

/* about-profile */
#about-profile {
    padding-top: 4em;
}

.tim-profile {
    max-width: 10em;
}

.abpf-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.abpf-img h4 {
    margin: 0 3em;
}

.abpf-text {
    text-align: center;
    margin-top: 3em;
}

/* topography pattern */
.topography-pattern {
    background-image: url("../img/topography_bg.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: -5em;
}

.topography-pattern-numbatwo {
    background-image: url("../img/topography_bg2.webp");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: -25em;
}

/* work exp */
#work-exp {
    text-align: center;
    margin-bottom: 8em;
    padding-top: 4em;
}

.wkxp-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    gap: 3em;
}

.wkxp-container {
    text-align: center;
}

.work-exp-box {
    width: 100%;
    border-radius: 15px;
    margin-top: 1em;
    overflow: hidden;
}

.wkxp-btn {
    padding: 1.3em 2.1em;
    background: transparent;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
    margin: 0 auto;
    margin-top: 4em;
    transition: all 0.3s ease;
}

.wkxp-btn:hover {
    background: #fff;
    color: #021036;
}

.wkxp-hidden {
    display: none;
}

.wkxp-active {
    display: grid;
    margin-top: 3em;
}

.wkxp-hide {
    display: none;
}

/* footer */

footer {
    text-align: center;
    margin-top: -4em;
    position: relative;
}

#copyright {
    margin-top: -20px;
}

/* lets talk */
#lets-talk {
    background-image: url("../img/letschat_swissvalley.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-bottom: 12em;
}

#ltlk-frm {
    width: 600px;
    position: relative;
}

#ltlk-frm input {
    background: transparent;
    padding: 0.8em 0 0.3em 0;
    color: #fff;
    border: none;
    text-align: center;
    width: 95%;
}

.ltlk-btn {
    padding: 1.3em 2.1em;
    background: transparent;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
    margin: 0 auto;
    margin-top: 4em;
}

.ltlk-btn:hover {
    background: #fff;
    color: #021036;
}

.ltlk-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 2em;
}

/* let's talk form cont*/
.ltlk-input {
    position: relative;
    border-radius: 2em;
    margin-top: 3em;
    border: 1px solid #fff;
}

.ltlk-input label {
    color: #999;
    position: absolute;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
    top: 1.4em;
    left: 0;
    right: 0;
    bottom: 0;
}

.ltlk-input input:focus {
    outline: 0;
}

.ltlk-input input:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

input {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: "League Spartan", sans-serif;
    color: #fff;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 2em;
}

input:focus ~ label,
input:valid ~ label {
    font-size: 0.85em;
    color: rgb(48, 255, 253);
    top: 11px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

/* Form Animation */
/* Loading */
#status {
    width: 100%;
    display: none;
}

.spinner {
    margin: 0px auto;
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: rgb(48, 255, 253);
    height: 100%;
    width: 8px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;

    border-radius: 50%;

    margin-right: 3px;
    margin-left: 3px;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
    background-color: rgb(48, 255, 253);
}

.spinner .rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    background-color: rgb(48, 255, 253);
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
    background-color: rgb(48, 255, 253);
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
    background-color: rgb(48, 255, 253);
}

@-webkit-keyframes stretchdelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4);
    }
    20% {
        -webkit-transform: scaleY(1);
    }
}

@keyframes stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
    }
}

/* Success */
#loading-success {
    display:none;
    height: 15.7em;
}

.sucess-text {
    margin-top: 11em;
    position: relative;
    top: 5.2em;
}

.circle,
.circle-border {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.circle {
    z-index: 1;
    position: relative;
    transform: scale(1);
    animation: success-anim 700ms ease;
}
.circle-border {
    z-index: 0;
    position: absolute;
    border: 2px solid rgb(48, 255, 253);
    transform: scale(1.1);
    animation: circle-anim 400ms ease;
}

@keyframes success-anim {
    0% {
        transform: scale(0);
    }
    30% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes circle-anim {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1.1);
    }
}

.success::before,
.success::after {
    content: "";
    display: block;
    height: 4px;
    background: rgb(48, 255, 253);
    position: absolute;
}

.success::before {
    width: 17px;
    top: 58%;
    left: 23%;
    transform: rotateZ(50deg);
}

.success::after {
    width: 30px;
    top: 50%;
    left: 35%;
    transform: rotateZ(-50deg);
}

.circle-border,
.circle {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
}

/* Responsive */
@media (max-width: 1080px) {
    h1 {
        font-size: 2.1em;
    }

    .maev-text-change {
        margin-top: 0.2em;
    }

    .abpf-img h4 {
        margin: 1.5em;
    }
}

@media (max-width: 991px) {
    nav {
        margin-left: 0.5em;
    }

    .wkxp-wrapper {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .abpf-img {
        flex-direction: column;
    }

    #about-profile {
        padding-top: 2em;
    }

    .abpf-text {
        margin-top: 1.5em;
    }
}

@media (max-width: 680px) {
    #main-achieve {
        background-position-y: -13em;
    }

    #tim-logo {
        max-width: 5em;
        margin-top: 1em;
    }

    nav {
        margin-top: 1em;
    }

    #ltlk-frm {
        max-width: 600px;
        width: 100%;
    }

    .container {
        padding-left: 1em;
        padding-right: 1em;
    }

    .header-contact {
        display: none;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.8em;
    }

    .wkxp-wrapper {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .abpf-img h4 {
        margin: 1.5em auto;
        text-align: center;
    }
}

@media (max-width: 360px) {
    h1 {
        font-size: 1.59em;
    }
}
