@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

:root {
  font-size: 16px;
  --darkred-colour: #541e2b;
  --color-text: #d7d7d7;
  --fade-text: #a8a8a8;
  --color-bg: #000000;
  --translucent: #ffffff6b;
  --translucent-bg: rgba(228, 228, 228, 0.132);
  --main-title: clamp(200px, 10vh, 210px);
  --main-subtitle: clamp(30px, 1.8vh, 40px);
  --section-title: clamp(80px, 4vh, 90px);
}

@media (max-width:1240px) {
  :root {
    --main-title: 13vw;
    --main-subtitle: 2.5vw;
  }
}

@media (max-width:680px) {
  :root {
    --main-title: 20vw;
    --main-subtitle: 4vw;
    --section-title: clamp(58px, 2vh, 68px);
  }
}

/* Global */
body {
  margin: 0;
  color: var(--color-text);
  width: 100%;
  overflow-x: hidden;
  background-color: var(--color-bg);
  position: relative;

  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "ROND" 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.inner {
  padding-right: 20px;
  padding-left: 20px;
}

img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: inherit;
}


/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: var(--main-title);
  line-height: .9;
}

h4 {
  font-size: clamp(21px, 1vh, 31px);
  color: var(--color-text);
}

h5 {
  font-size: clamp(27px, 3vh, 37px);
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--fade-text);
}

.text-subtitle {
  font-size: var(--main-subtitle);
  opacity: 0.4;
  display: flex;
  column-gap: 13px;
  margin-top: 30px;
}

.text-fade {
  color: var(--fade-text);
}

.text-white {
  color: var(--color-text);
}

.work-title {
  font-size: var(--section-title);
  z-index: -1;
  opacity: 0.3;
  align-self: flex-end;
  padding-right: 20px;
}

.contact-title {
  font-size: var(--section-title);
  opacity: 0.3;
  align-self: flex-end;
}

.text-bold {
  font-weight: 700;
}

/* Alignment */
.text-center {
  text-align: center;
}

.spacer-15 {
  height: 15px;
}

.kvText {
  width: 100%;
  height: 100%;
  /* background-color: #541010; */
  display: flex;
  /* color: rgb(186, 97, 97); */
  color: #ffffff;
  align-items: center;
  padding-bottom: 15vh;
  font-weight: 700;
  flex-direction: column;
  justify-content: center;
  background-image: url('assets/newhorizon_swissalps.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.kvText>div {
  row-gap: 1vh;
  display: flex;
  flex-direction: column;
}

.kvText2 {
  width: 100%;
  height: 100%;
  /* background-color: #541010; */
  display: flex;
  /* color: rgb(186, 97, 97); */
  color: #ffffff;
  align-items: center;
  padding-bottom: 15vh;
  font-weight: 700;
  flex-direction: column;
  justify-content: center;
  background-image: url('assets/letschat_swissvalley.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

canvas {
  height: 100vh;
}

/* Navigations */
.header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 3vh;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 999;
  opacity: 0.7;
  max-width: 70px;
}

.header:hover {
  opacity: 1;
}

.menu-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 99999;
}

.scroll {
  z-index: -9;
  position: absolute;
  top: -10vh;
}

.menu {
  display: flex;
  justify-content: center;
  border: 1.5px solid var(--translucent);
  width: 150px;
  /* padding: 15px 50px; */
  height: 50px;
  border-radius: 99px;
  background-color: var(--translucent-bg);
  color: var(--translucent);
  cursor: pointer;
  align-items: center;
  column-gap: 8px;
  position: absolute;
  bottom: 3vh;
}

.menu:hover {
  color: var(--color-text);
  border: 1.5px solid var(--color-text);
}

.menu.animate {
  padding: 0;
}

.submenu {
  display: flex;
  column-gap: 35px;
  padding-left: 1.5vh;
  transform: translateY(10vh);
  color: var(--translucent);
}

.submenu>div:hover {
  color: var(--color-text);
  cursor: pointer;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.menu-icon span {
  background-color: var(--translucent);
  display: block;
  height: 1.5px;
  width: 17px;
}

.menu:hover .menu-icon span {
  background-color: var(--color-text);
}

/* Cards */
.card-wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: flex-start;
  height: auto;
  position: relative;
  flex-direction: column;
  max-width: 1240px;
  padding-bottom: 300px;
}

.card-inner {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 60px;
  row-gap: 60px;
  flex-wrap: wrap;
}

.card {
  min-width: 360px;
  /* opacity: .9; */
  flex-basis: 30%;
  border-radius: 10px;
}

.card-link {
  border-radius: 10px;
  opacity: .85;
}

/* About */
.about-bg {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.about-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('assets/topography_bg2.webp');
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  z-index: -1;
}

.about-wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: flex-start;
  position: relative;
  z-index: 5;
  flex-direction: column;
  max-width: 1200px;
}

.about-inner::before {
  content: '';
  display: block;
  position: absolute;
  width: 15px;
  height: 150%;
  background: linear-gradient(to top, var(--darkred-colour), var(--darkred-colour), transparent);
  left: -50px;
  bottom: 0;
  border-radius: 10px;
}

.about-inner {
  display: flex;
  row-gap: 30px;
  flex-direction: column;
  position: relative;
  justify-content: center;
  max-width: 700px;
  margin-top: 40px;
}

.about-img {
  width: 150px;
  opacity: .85;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 7px;
}

.about::before {
  content: '';
  display: block;
  position: absolute;
  background-color: var(--darkred-colour);
  width: 10px;
  height: 3px;
  left: -25px;
}

/* Tags */
.tag-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
}

.tags {
  border: 1px solid var(--translucent);
  background-color: var(--translucent-bg);
  color: var(--translucent);
  width: fit-content;
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 14px;
  align-self: flex-end;
  cursor: pointer;
}

.tags:hover {
  color: var(--color-text);
  border: 1px solid var(--color-text);
}

.tags.active {
  background-color: var(--darkred-colour);
}

/* Contact */
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.contact::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  background-color: #000000;
  height: 150px;
  z-index: 1;
  top: -50px;
  filter: blur(50px);
}

.footer {
  position: absolute;
  bottom: 2vh;
  right: 2vh;
  margin: 0 auto;
  z-index: 999;
  color: var(--fade-text);
  font-size: 12px;
}

.contact-details {
  position: absolute;
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.contact-details a {
  border: 1.5px solid var(--translucent);
  background-color: var(--translucent-bg);
  color: var(--translucent);
  padding: 6px 14px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.contact-details a:hover {
  color: var(--color-text);
  border: 1.5px solid var(--color-text);
}

/* Responsive */
@media (max-width:1024px) {
  .text-subtitle {
    column-gap: 11px;
    margin-top: 20px;
  }

  .about-inner::before {
    left: -5px;
  }

  .about,
  .about-img {
    margin-left: 25px;
  }

  .about::before {
    left: 20px;

  }

  .card {
    min-width: 330px;
    flex-basis: 35%;
  }
}

@media (max-width:767px) {

  .header {
    top: 2vh;
    max-width: 60px;
  }

  .kvText {
    padding-bottom: 0;
    background-image: url('assets/newhorizon_swissalps_m.webp');
  }

  .kvText2 {
    background-image: url('assets/letschat_swissvalley_m.webp');
  }

  /* .about-bg::before {
    background-image: none;
  } */

  .card {
    min-width: 100%;
  }

  .about-inner {
    margin-top: 10px;
  }

  .card-wrapper {
    padding-bottom: 200px;
  }

  .contact-details {
    margin-top: 110px;
  }

}